---
title: Index
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1>{{ title }}</h1>
    </head>
    <body>
        <ul>
        {%- for post in collections.posts -%}
            <li><a href={{ post.url }}>[[{{ post.fileSlug }}]]</a></li>
        {%- endfor -%}
        </ul>
    </body>
</html>
